<?xml version='1.0' encoding='utf-8'?>
<widget id="com.diogenes.userswitcher" version="1.0.0" xmlns="http://w3.org">
    <name>Смена пользователя</name>
    <description>Быстрый запуск меню переключения пользователей</description>
    <author email="diogenes@localhost" href="http://localhost.com">Diogenes</author>
    <content src="index.html" />
    <preference name="android-minSdkVersion" value="29" />
</widget>
